In [1]:
num = [1,2,3,4,5,6,10,14,15]
num

[1, 2, 3, 4, 5, 6, 10, 14, 15]

In [6]:
[i for i in num if i%2==0]   #even with comprehension

[2, 4, 6, 10, 14]

In [7]:
for i in num:
    if i%2==1:
        continue
    print(i)

2
4
6
10
14

In [8]:
for i in num:
    if i%2==0:
        continue
    print(i)

1
3
5
15

In [11]:
sent =' I love Bangladesh and Germany.'

In [12]:
for i in sent.split():
    if i == 'and':
        continue     
    print(i)

I
love
Bangladesh
Germany.

In [13]:
num

[1, 2, 3, 4, 5, 6, 10, 14, 15]