# Part-1

# More about return

In [1]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return x1,x2

In [3]:
user_input()

1
2
3
4

(1, 2)

In [4]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return x1,y1,x2,y2

In [5]:
user_input()

1
2
3
4

(1, 3, 2, 4)

In [6]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    print("Zubayer")
    return (x1,y1),(x2,y2)

In [7]:
user_input()

5
4
3
2
Zubayer

((5, 3), (4, 2))

In [13]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return (x1,y1),(x2,y2)

In [16]:
r1, r2 = user_input()

1
2
3
4

In [17]:
r1

(1, 3)

In [18]:
r2

(2, 4)

In [19]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return (x1,y1),(x2,y2)

In [23]:
r1, _ = user_input()

1
5
7
8

In [24]:
r1

(1, 7)

In [26]:
_, r2 = user_input()

6
9
10
11

In [27]:
r2

(9, 11)

In [31]:
def sq_and_cube(x):
    sq = x**2
    cube = x**3
    return sq,cube

In [32]:
sq_and_cube(3)

(9, 27)

In [17]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())
    
    return (x1,y1),(x2,y2)

In [18]:
r1,r2 = user_input()

2
3
4
5

In [19]:
r1

(2, 4)

In [20]:
r2

(3, 5)

In [21]:
r1,_ = user_input()

4
8
16
32

In [22]:
r1

(4, 16)

# Part-2

In [1]:
def mulp():
    x = int(input("x = "))
    y = int(input("y = "))
    total = x*y
    print(total)
    return(total)

In [2]:
mulp()

x = 10
y = 20
200

200

In [2]:
def mulp1():
    x = int(input("x = "))
    y = int(input("y = "))
    result = x*y
    print(result)
    return(result)
def mulp2():
    result_1 = mulp1()
    z = int(input("z = "))
    total = result_1*z
    print(total)

In [3]:
mulp2()

x = 2
y = 5
10
z = 6
60

In [4]:
mulp2()

x = 20
y = 20
400
z = 2
800

In [14]:
def mulp1():
    x = int(input("x = "))
    y = int(input("y = "))
    result = x*y
    print(result)
    return(result)
def mulp2():
    result_1 = mulp1()
    z = int(input("z = "))
    total = z*result_1
    print(total)

In [15]:
mulp2()

x = 8
y = 7
56
z = 2
112