In [4]:
n = [2,3,4,50,60,45,100]
for x in range(len(n)):
    print(n[x],x)

2 0
3 1
4 2
50 3
60 4
45 5
100 6

In [9]:
n = [2,3,4,50,60,45,100]
total = 0
for x in n:
    total = total + x
    print(total,x)
print("total",total)

2 2
5 3
9 4
59 50
119 60
164 45
264 100
total 264

In [2]:
for i in  range(10):
    print("data science",i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9

In [11]:
for i in range(5,15,3):
    print("data science",i)

data science 5
data science 8
data science 11
data science 14

In [17]:
Data = "data science"
for i in range(4,10):
    print(Data[i],i)

  4
s 5
c 6
i 7
e 8
n 9

In [7]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [8]:
for i in range(-15,-9):
    print(i)

-15
-14
-13
-12
-11
-10

# While loop

In [11]:
n = [2,3,4,55,60,77,100]
total = 0
index = 0
while index < len(n):
    total +=n[index]
    print(index,total)
    index +=1

0 2
1 5
2 9
3 64
4 124
5 201
6 301

In [6]:
n = [2,3,4,55,60,77,100]
total = 0
index = 0
while index <len(n):
    total +=n[index]
    index +=1
    print(total,index)
print("total",total)

2 1
5 2
9 3
64 4
124 5
201 6
301 7
total 301

In [13]:
i = 0
while i <=10:
    print(i,"study mart")
    i += 2

0 study mart
2 study mart
4 study mart
6 study mart
8 study mart
10 study mart

In [16]:
data = "Python"
index = 0
while index <len(data):
    print(data[index])
    index +=1

P
y
t
h
o
n

In [9]:
data = "Python"
index = 0
while index <len(data):
    print(data[index])
    index +=1

P
y
t
h
o
n

In [17]:
data = "i love data science so much"
index = 0
while index<len(data):
    print(data[index])
    index +=1

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [18]:
data = "i love data science so much"
data = data.split()
index = 0
while index<len(data):
    print(data[index])
    index +=1

i
love
data
science
so
much

In [23]:
x = [2,3,4,5,6,7,8]
index = 0
total = 0
while index<len(x):
    total += x[index]
    print(total,index)
    index += 1
print("total",-total)

2 0
5 1
9 2
14 3
20 4
27 5
35 6
total 35

In [18]:
x = [5,6,7,8,10,15,20]
total = 0
index = 0
while index <len(x):
    total += x[index]
    print(total,index)
    index +=1
print("total",total)

5 0
11 1
18 2
26 3
36 4
51 5
71 6
total 71

In [19]:
i = -30
while i<-9:
    print(i)
    i +=1

-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# Nested loop

In [42]:
rows = 4
#outer loop
for x in range(rows):
    for y in range(x):
        print("#", end=" ")
    print(" ")

#
# #
# # #

In [34]:
rows = 4
#outer loop
for x in range(1,rows+1):
    for y in range(1,x+1):
        print("#", end=" ")
    print(" ")

#
# #
# # #
# # # #

In [48]:
name = "hasan"
for x in range(5):
    for y in range(x):
        print(name,end=" ")
    print("\n")

hasan

hasan hasan

hasan hasan hasan

hasan hasan hasan hasan

In [31]:
num = [1,2,3,4,5]
for element in num:
    index = 0
    while index<len(num):
        print(num[index],end=" ")
        index +=1
    print("\n")

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

In [32]:
num = [1,2,3,4,5]
for element in num:
    index = 0
    while index<len(num):
        print(num,end=" ")
        index +=1
    print("\n")

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]