# Commonly used build-in functions in Python.

# 1. print()

In [ ]:
print('Data Science')

# 2.len(): returns the length of an object.

In [3]:
my_list = [1,2,3,4,5]
length = len(my_list)

In [4]:
length

5

# 3. input():Reads input from the user.

In [5]:
user_input = input('Enter something: ')

Enter something: zubayer

In [6]:
user_input

'zubayer'

# 4.type()

In [7]:
x = 5
type(x)

int

# 5.int(),float(),str():converts values to int/float/str

In [11]:
num_str = "42"
type(num_str)

str

In [12]:
num_int = int(num_str)

In [14]:
type(num_int)

int

# 6. Range(): Genarates a sequence of numbers

In [15]:
numbers = list(range(1,6))

In [16]:
numbers

[1, 2, 3, 4, 5]

# 7.sum(): Additioning all the elements

In [17]:
numbers

[1, 2, 3, 4, 5]

In [18]:
total = sum(numbers)
total

15

# 8.max(),min():

In [19]:
numbers

[1, 2, 3, 4, 5]

In [20]:
max_val = max(numbers)
min_val = min(numbers)

In [22]:
max_val

5

In [23]:
min_val

1

# 9.abs():returns a absolute value

In [25]:
absolute_value = abs(-52)
absolute_value

52

# 10. Round(): Rounds a floating-point number to a specified number of decimals.

In [26]:
rounded_num = round(3.1416,2)   #rounds to 2decimal places.

In [27]:
rounded_num

3.14

# 11. sorted():returns a sorted list from the elements of an iterable.

In [29]:
numbers = [3,1,2,5,6,74,54,45]
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 2, 3, 5, 6, 45, 54, 74]

# 12.any(),all(): Returns True if any or all elements in an iterable are True

In [30]:
bool_list = [True,False,True]
any_list = any(bool_list)
all_list = all(bool_list)

In [31]:
any_list   #if any one element is True then it contain a True output.

True

In [32]:
all_list   #if all elements are True then it contain a True output otherwise False.

False

# 13. str.join():joins elements of an iterable with a str as a separator.

In [34]:
my_list = ["apple","Banana","Orange"]
joined_str = " ; ".join(my_list)
joined_str

'apple ; Banana ; Orange'

In [35]:
joined_str = " + ".join(my_list)
joined_str

'apple + Banana + Orange'

# 14.lower(),upper():

In [36]:
my_str = "Hello,Bangladesh."
lower_case = my_str.lower()
upper_case = my_str.upper()

In [37]:
lower_case

'hello,bangladesh.'

In [38]:
upper_case

'HELLO,BANGLADESH.'

# 15. list(),tuple():converting

In [40]:
my_tuple = (54,65,459,574,554)
my_list = list(my_tuple)
my_list

[54, 65, 459, 574, 554]

# 16. dict():Creates a set

In [1]:
my_dict = dict(name ="John",age = 25)
my_dict

{'name': 'John', 'age': 25}

In [5]:
my_dict.keys()

dict_keys(['name', 'age'])

In [7]:
my_dict.values()

dict_values(['John', 25])

# 17.set():Creates a set

In [2]:
my_set = set([1,2,3,4])
my_set

{1, 2, 3, 4}

# 18. enumerate():Returns tuples with index and corresponding elements.

In [9]:
my_list = ["a","b","c"]
for index,value in enumerate(my_list):
    print(index,value)

0 a
1 b
2 c

# 19. zip():combines two or more iterables element-wise.

In [10]:
names = ["Alice","Bob","Charlie"]
ages = [25,30,22]
zipped_data = zip(names,ages)

In [11]:
zipped_data

In [12]:
type(zipped_data)

zip

# 20. reversed(): Returns a reverse iterator of a sequence

In [14]:
my_list = ["a","b","c"]
reversed_list = list(reversed(my_list))
reversed_list

['c', 'b', 'a']

# 21.  sum() (with start argument): Returns the sum of an iterable with an optional starting value.

In [15]:
numbers = [1,2,3,4]
total = sum(numbers,10)  # 10 means the sum starts from 10.

In [16]:
total

20

# 22.abs() (for complex numbers): Returns the magnitude of a complex number.

In [17]:
complex_num = 3+4j
magnitude = abs(complex_num)

In [18]:
magnitude

5.0

# 23.slice(): Creates a slice object that can be used to slice sequences like lists and strings.

In [19]:
my_list = [1,2,3,4,5,6]
my_slice = slice(1,4)
sliced_list = my_list[my_slice]
sliced_list

[2, 3, 4]

# 24.chr(), ord() (extended usage): Handling Unicode characters and code points.

In [20]:
euro_symbol = chr(8364)   #returns € 
code_point = ord('€')    #returns 8364

In [21]:
euro_symbol

'€'

In [22]:
code_point

8364

In [24]:
char = chr(65)    #output: 'A'
print(char)

A

In [25]:
code_point = ord('A')
print(code_point)       #output:65

65