In [2]:
def add_num(x,y):
    result = x+y
    return result
add_num(10,30)

40

In [3]:
def add_num(x,y):
    print(x)

add_num(10,30)

10

1. positional argument
2. keyword argument
3. default argument
4. variable length argument

# positional argument

In [4]:
def add_num(x,y):
    result = x+y
    return result
add_num(10,30)

40

# keyword argument

In [8]:
 def personal(job,income):
        print("job =", job)
        print("income =" ,income)
personal(job = "data scientist",income = 100000)

job = data scientist
income = 100000

# default argument

In [10]:
 def personal(job,income =100000):
        print("job =", job)
        print("income =" ,income)
personal( "data scientist", 200000)

job = data scientist
income = 200000

# variable length argument

In [2]:
def add_num(*x):
    print(x)
    result = sum(x)
    return result

add_num(10,30,100)

(10, 30, 100)

140

In [3]:
def add_num(x,*y):
    print(x)
    print(y)
    
add_num(10,30,100)

10
(30, 100)

# *args vs **kwords

In [4]:
def personal_data(name,*arg):
    print(name)
    print(arg)
    print(type(arg))
    
personal_data("Md. Zubayer Hasan","GTC","Nikunja-2")

Md. Zubayer Hasan
('GTC', 'Nikunja-2')
<class 'tuple'>

In [5]:
def personal_data(name,**arg):
    print(name)
    print(arg)
    print(type(arg))
    
personal_data("Md. Zubayer Hasan",varsity = "GTC",City = "Dhaka")

Md. Zubayer Hasan
{'varsity': 'GTC', 'City': 'Dhaka'}
<class 'dict'>